In [38]:
import pandas as pd
import numpy as np
import glob

In [16]:
train_DF_AK=pd.read_csv('namesbystate/AK.txt', delimiter=',', names=['State','Sex','Year Born','Name','Name Frequency'])
train_DF_AK.head()

  State Sex  Year Born      Name  Name Frequency
0    AK   F       1910      Mary              14
1    AK   F       1910     Annie              12
2    AK   F       1910      Anna              10
3    AK   F       1910  Margaret               8
4    AK   F       1910     Helen               7

1.  Please describe the format of the data files. Can you identify any 
    limitations or distortions of the data? 

**The list of names for each states is a comma delimited text file which 5 columns describing the State, Sex, Year Born, Names, and Name Frequency**

In [193]:
##Creating a big DataFrame (train_DF_popular) containing the data from all states##
train_DF_popular=pd.DataFrame()
for fil in glob.glob('./namesbystate/*.TXT'):
     train_DF_popular=train_DF_popular.append(pd.read_csv(fil, delimiter=',', names=['State','Sex','Year Born','Name',\
                                                                                     'Name Frequency']), ignore_index=True)

In [199]:
##Grouping by Name and couting the total frequency for each name to find the most popular name##
train_DF_total_freq=train_DF_popular.groupby('Name').sum()['Name Frequency']
print "The most popular name of all time is:", train_DF_total_freq.idxmax(),'\n','With total count of:',\
train_DF_total_freq.ix[train_DF_total_freq.idxmax()]

The most popular name of all time is: James
With total count of: 4957166

2. What is the most popular name of all time? (Of either gender.)

The most popular name of all time is: **James** With total count of **4957166**

In [200]:
female_names=pd.DataFrame(train_DF_popular.ix[train_DF_popular['Year Born']==2013].groupby(['Sex','Name']).sum()['Name Frequency'].ix['F'])
male_names=pd.DataFrame(train_DF_popular.ix[train_DF_popular['Year Born']==2013].groupby(['Sex','Name']).sum()['Name Frequency'].ix['M'])
male_female_inner_join=pd.concat([female_names, male_names], axis=1, join='inner')
print male_female_inner_join.sum(axis=1).idxmax()
print male_female_inner_join.sum(axis=1).max()

Emma
20881

In [201]:
female_names=pd.DataFrame(train_DF_popular.ix[train_DF_popular['Year Born']==1945].groupby(['Sex','Name']).sum()['Name Frequency'].ix['F'])
male_names=pd.DataFrame(train_DF_popular.ix[train_DF_popular['Year Born']==1945].groupby(['Sex','Name']).sum()['Name Frequency'].ix['M'])
male_female_inner_join=pd.concat([female_names, male_names], axis=1, join='inner')
print male_female_inner_join.sum(axis=1).idxmax()
print male_female_inner_join.sum(axis=1).max()

James
74651

3.  What is the most gender ambiguous name in 2013? 1945?

The most gender ambiguos name in 2013 is: **Emma** With total count of **20881**

The most gender ambiguos name in 1945 is: **James** With total count of **74651**